Configurations/auth.js
Configurations/config.js
Configurations/config.json
Configurations/*.template.*
*.template
.env
logs
travis
.travis.yml
docker-compose*.yml
Dockerfile

node_modules
npm-debug.log
.git
.github
.gitignore
.idea
.vscode
.cache
