<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;">
<head>
	<title>503 - GAwesomeBot</title>

<link rel="shortcut icon" type="image/png" href="/static/img/icon.png">
<meta name="theme-color" content="#009688">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">

</head>
<body>
	<section id="header" class="hero is-danger is-fullheight is-bold">
		<div class="hero-head">
			<a class="nav-item is-brand title is-5 is-active" href="#" style="font-family: Montserrat;">
                &nbsp;
                GAwesomeBot
            </a>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<strong>Not so fast!</strong>
				</h1>
				<h1 class="subtitle is-1">
					This GAwesomeBot instance is currently unable to accept requests.
				</h1>
        		<br>
				<br>
				<h6 class="subtitle is-6">
					Sorry about that.
					<br>
					Check <b><a href="https://status.gawesomebot.com">our status page</a></b> for details.
				</h6>
			</div>
		</div>
	</section>
</body>
</html>
