<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Command List - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Command List
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								<strong>All GAwesomeBot commands</strong> are listed here. You can change <strong>who</strong> can use them and <strong>where</strong>. Some things to keep in mind:
								<ul>
									<li>
										Admin-only commands can only be activated by members who have an admin role that is level 1 or higher. Other users will not receive a response if they try to use an admin-only command.
									</li>
									<li>
										You can restrict commands to certain channels. They will not be accessible elsewhere. It's best not to use this for some core commands like <code>ping</code>, <code>help</code>, and <code>join</code>.
									</li>
								</ul>
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="field">
							<a class="button modal-button" data-target="#command-preset-modal">
								<span class="icon is-small">
									<i class="fa fa-cog"></i>
								</span>
								<span>Apply Preset</span>
							</a>
						</div>
						<div id="command-preset-modal" class="modal">
							<div class="modal-background"></div>
							<div class="modal-container">
								<div class="modal-content">
									<div class="box">
										<h4 class="subtitle is-4">
											Command options preset
										</h4>
										<div class="field">
											<label class="label">Permissions</label>
											<p class="control">
												<span class="select is-primary">
													<select name="preset-admin_level">
														<option value="0">@everyone</option>
														<option value="1">Admin level &ge;1</option>
														<option value="2">Admin level &ge;2</option>
														<option value="3">Admin level &ge;3</option>
													</select>
												</span>
												<span class="help">Commands will only respond to members that have the selected bot admin level (or higher).</span>
											</p>
										</div>
										<div class="field">
											<label class="label">Channel(s)</label>
											<% pageData.channelData.forEach(channel => { %>
												<label class="checkbox">
												<input name="preset-disabled_channel_ids-<%= channel.id %>" class="preset-disabled_channel_ids" type="checkbox" checked>
													#<%= channel.name %>
												</label>
												<br>
											<% }); %>
										</div>
										<div class="field">
											<div class="control has-addons">
												<a class="button is-small" onclick="toggleChannels('preset-disabled_channel_ids', true);">
													<span>Select All</span>
												</a>
												<a class="button is-small" onclick="toggleChannels('preset-disabled_channel_ids', false);">
													<span>Deselect All</span>
												</a>
											</div>
											<span class="help">Commands will run only in these channels.</span>
										</div>
										<input type="checkbox" id="preset-applied" name="preset-applied" style="display: none;">
										<button name="preset-applied" class="button is-primary" onclick="$('#preset-applied').attr('checked', true); GAwesomeUtil.SFS(); Turbolinks.visit('');">
											<span class="icon is-small">
												<i class="fa fa-asterisk"></i>
											</span>
											<span>Apply to all commands</span>
										</button>
									</div>
								</div>
							</div>
							<a class="modal-close"></a>
						</div>
							<% for (var category in pageData.commandCategories) { %>
								<div class="is-divider" data-content="<%= category %>"></div>
								<div class="command-items">
									<% for (let command of pageData.commandCategories[category]) { %>
										<% if (command.name !== "stats") { %>
											<% const commandData = configData.commands[command.name]; commandData.name = command.name; commandData.description = command.description; commandData.category = command.category; %>
											<% include ../partials/admin-command-item %>
										<% } %>
									<% } %>
								</div>
							<% } %>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
