<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Voicetext Channels - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Voicetext Channels
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								GAwesomeBot can automatically create <strong>text channels corresponding to voice channels</strong> and add members to them as they join voice chat. This is great for people who can't use their mic, or for sharing links and images while talking.
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="field">
							<% if (pageData.voiceChannelData.length) { %>
								<label class="label">Enabled in these channel(s):</label>
								<% pageData.voiceChannelData.forEach(voiceChannel => { %>
									<label class="checkbox">
										<input name="voicetext_channels-<%= voiceChannel.id %>" type="checkbox"<%= configData.voicetext_channels.includes(voiceChannel.id) ? " checked" : "" %>>
										<%= voiceChannel.name %>
									</label>
									<br>
								<% }); %>
							<% } else { %>
								<article class="message is-embedded-message">
									<div class="message-header">
										<p>
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											Nothing to see here
										</p>
									</div>
									<div class="message-body">
										There aren't any voice channels on this server. Create one in Discord to get started with Voicetext.
									</div>
								</article>
							<% } %>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
