<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> API Keys - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Custom API Keys
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							Many of GAwesomeBot's commands (e.g. <code>image</code>, <code>youtube</code>, etc.) rely on APIs to fetch data from online sources. Our global API key is rate limited and we often exceed the limit. You can set your own API keys here to avoid being rate limited because people on other servers used certain commands.
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="field">
							<label class="label">Google API Key</label>
							<div class="control">
								<input name="google_api_key" class="input is-primary" type="text" value="<%= configData.custom_api_keys.google_api_key %>" placeholder="Custom key not set; using default">
								<span class="help">Used for <code>google</code>, <code>image</code>, <code>shorten</code>, <code>youtube</code>, and more. Get a key <a href="https://console.developers.google.com/projectselector/apis/credentials">here</a>.</span>
							</div>
						</div>
						<div class="field">
							<label class="label">Google Custom Search Engine (CSE) ID</label>
							<div class="control">
								<input name="google_cse_id" class="input is-primary" type="text" value="<%= configData.custom_api_keys.google_cse_id %>" placeholder="Custom key not set; using default">
								<span class="help">Used for <code>image</code>. Create a CSE and get its ID <a href="https://cse.google.com/cse/create/new">here</a>.</span>
							</div>
						</div>
						<div class="field">
							<label class="label">Imgur Client ID</label>
							<div class="control">
								<input name="imgur_client_id" class="input is-primary" type="text" value="<%= configData.custom_api_keys.imgur_client_id %>" placeholder="Custom key not set; using default">
								<span class="help">Used for <code>imgur</code>. Create an Imgur application and get its ID <a href="https://apidocs.imgur.com/">here</a>.</span>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
