<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> GAwesomePoints - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						GAwesomePoints
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							Points work much like <strong>karma</strong> on Reddit, but can be disabled per-server and there's no downvoting. You can get GAwesomePoints by being upvoted or gilded, winning the lottery, or being one of the top 5 most active members on the server each week. Learn more on <a href="/wiki?page=Commands#points">the wiki</a>.
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="command-items">
						<% var commandData = configData.commands.points; commandData.name = "points"; commandData.description = pageData.commandDescriptions.points; commandData.category = pageData.commandCategories.points; %>
						<% include ../partials/admin-command-item %>
						<% commandData = configData.commands.lottery; commandData.name = "lottery"; commandData.description = pageData.commandDescriptions.lottery; commandData.category = pageData.commandCategories.lottery; %>
						<% include ../partials/admin-command-item %>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
