<!DOCTYPE html>
<html>
<head>
	<title><%= extensionData.name ? (extensionData.name + " - ") : "" %><%= serverData.name %> Extension Builder - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Extension Builder
					</h1>
					<div class="container">
						<% var extensionBuilderPostUrl = currentPage + "?svrid=" + serverData.id + "&"; %>
						<% var extensionBuilderPublishUrl = "/extensions/builder?external=true"; %>
						<% include ../partials/extension-builder %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
