<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Stats Collection - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Stats Collection
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								AwesomeBot constantly records information about <strong>message, voice, and game activity</strong> on your server. You can view this data in the <code>stats</code> command, on the <a href="/dashboard/overview?svrid=<%= serverData.id %>">overview page</a>, and more.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<% var commandData = configData.commands.stats;commandData.name = "stats";commandData.description = commandDescriptions.stats;commandData.category = commandCategories.stats; %>
							<% include ../partials/admin-command-item %>
							<% var commandData = configData.commands.games;commandData.name = "games";commandData.description = commandDescriptions.games;commandData.category = commandCategories.games; %>
							<% include ../partials/admin-command-item %>
							<% var commandData = configData.commands.messages;commandData.name = "messages";commandData.description = commandDescriptions.messages;commandData.category = commandCategories.messages; %>
							<% include ../partials/admin-command-item %>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
