<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<% include ../partials/head %>
</head>
<body>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-paw"></i>
                    </span>
					Dolphin Musings
				</h1>
				<h3 class="subtitle is-3">
					The <strong>not official</strong> GAwesomeBot blog.
                    <% if(isMaintainer) { %>
                        <a class="button is-white is-outlined" href="/blog/compose">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>New</span>
                        </a>
                    <% } %>
				</h3>
			</div>
		</div>
	</section>
	<section class="section is-white">
		<div class="container">
            <% if(mode=="article") { %>
                <% include ../partials/blog-article %>
            <% } else if(mode=="list") { %>
                <% if(data.length>0) { %>
                    <% for(var i=0; i<data.length; i++) { %>
						<div class="box">
	                        <% var blogPost = data[i]; %>
	                        <% include ../partials/blog-article %>
						</div>
                    <% } %>
                <% } else { %>
                    <% var activeSearchQuery, mode = "blog"; %>
                    <% include ../partials/no-results %>
                <% } %>

                <nav class="level is-mobile">
                    <div class="level-left">
                        <% if(currentPage<numPages) { %>
                            <a class="button" href="/blog?page=<%= currentPage + 1 %>">
                                <span class="icon is-small">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span>Older Posts</span>
                            </a>
                        <% } %>
                    </div>
                    <div class="level-right">
                        <% if(currentPage>1) { %>
                            <div class="level-item">
                                <a class="button" href="/blog?page=<%= currentPage - 1 %>">
                                    <span>Newer Posts</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </nav>
            <% } else if(mode=="compose") { %>
                <% include ../partials/blog-composer %>
            <% } %>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
