<!DOCTYPE html>
<html>
<head>
	<title>Donate to AwesomeBot</title>
	<% include ../partials/head %>

	<script>
	function hideDonate() {
	    var prompt = confirm("Are you sure? You won't ever see the donate button again :(");
	    if(prompt) {
	        localStorage.setItem("donate", "hide");
			window.history.back();
	    }
	}
	</script>
</head>
<body>
	<script>
	localStorage.setItem("donate", null);
	</script>
	<section id="header" class="hero is-primary is-medium is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container">
                <div class="columns">
					<div class="column is-half is-offset-one-quarter">
                        <h2 class="title is-2 has-text-centered">
                            <strong>Thank you</strong> for your support!
                        </h2>
						<% if(charities.length>0) { %>
	                        <h5 class="subtitle is-5">
	                            The AwesomeBot team doesn't accept donations (<a href="/wiki/FAQs#donations">here's why</a>). Instead, we&#39;d prefer that you donate to one or more of the following charities:
	                        </h5>
							<% for(var i=0; i<charities.length; i++) { %>
		                        <a class="media" href="<%= charities[i].donate_url %>">
		                            <div class="media-left">
		                                <img class="image is-32x32" src="<%= charities[i].icon_url %>">
		                            </div>
		                            <div class="media-content">
		                                <p class="title is-3">
											<%= charities[i].name %>
											<% if(charities[i].country) { %>
												<span class="tag is-light"><%= charities[i].country %></span>
											<% } %>
										</p>
		                            </div>
		                            <div class="media-right">
		                                <span class="icon is-medium">
		                                    <i class="fa fa-chevron-right"></i>
		                                </span>
		                            </div>
		                        </a>
							<% } %>
						<% } %>
                    </div>
                </div>
			</div>
		</div>
		<div class="hero-foot">
			<div class="container has-text-centered">
                <a class="button is-white is-outlined" onclick="hideDonate();">
                    <span>Hide the donate button forever</span>
                    <span class="icon">
                        <i class="fa fa-frown-o"></i>
                    </span>
                </a>
                <br><br>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
