<!DOCTYPE html>
<html lang="en">
<head>
	<title>Uh-oh! - GAwesomeBot</title>
	<% include ../partials/head %>
</head>
<body>
	<section id="header" class="hero is-warning is-fullheight is-bold">
		<div class="hero-head has-text-centered">
			<a class="title is-5 is-active" href="/" style="font-family: Montserrat;">
                <img src="/static/img/icon.png" style="border-radius: 100%; margin-top: 10px;" height="128" width="128">
                <br>
                GAwesomeBot
            </a>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<%-error_line%>
				</h1>
				<div class="buttons is-centered is-grouped">
					<a class="button is-link is-large" href="javascript:window.history.back();">
						<span class="icon">
							<i class="fa fa-chevron-left"></i>
						</span>
						<span>Go back</span>
					</a>
					<a class="button is-success is-large" href="/">
						<span class="icon">
							<i class="fa fa-home"></i>
						</span>
						<span>Take me home!</span>
					</a>
				</div>
				<br>
				<br>
				<h4 class="is-4 subtitle">
					<%-error_text%>
				</h4>
			</div>
		</div>
	</section>
</body>
</html>
