<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evaluate - <%= serverData.name %> Maintainer Console</title>
    <% include ../partials/head %>
    <script>
        const evalLog = `
            <article class="media">
                <figure class="media-left">
				    <span class="icon is-large" style="color: $COLOR$;">
						<i class="fa fa-$TYPE$ fa-2x"></i>
					</span>
                </figure>
                <div class="media-content has-overflow">
                    <div class="content">
                        <strong>
                            Code:
                        </strong>
                        <small>
                            <code class="is-word-wrapping">$CODE$</code>
                        </small>
                        <br>
                        <strong>
                            Result:
                        </strong>
                        <br>
                        <pre class="is-word-wrapping">$RESULT$</pre>
                    </div>
                </div>
            </article>
        `;
        function evalCode() {
        	let codeArea = $("#codeArea");
        	let targetSelect = $("#targetSelect");
        	let execButton = $("#execButton");
        	execButton.addClass("is-loading");
        	let code = codeArea.val();
        	let target = targetSelect.val();

        	if (target !== "select") {
        		$(".select").removeClass("is-danger");
            } else {
        		$(".select").addClass("is-danger");
        		execButton.removeClass("is-loading");
        		return;
            }

        	if (code) {
        		codeArea.removeClass("is-danger");
        		$.post("/dashboard/maintainer/management/eval", { code, target })
                  .done(data => {
                  	data = JSON.parse(data);
                  	let log = evalLog.replace("$CODE$", code.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'))
                      .replace("$RESULT$", String(data.result).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'))
                      .replace("$COLOR$", data.err ? "#ff473b" : "#37dc22")
                      .replace("$TYPE$", data.err ? "times" : "check");
                  	$("#evalResults").prepend(log);
                  	execButton.removeClass("is-loading");
                  })
                  .always(() => {
                  	execButton.removeClass("is-loading");
                  });
            } else {
        		codeArea.addClass("is-danger");
        		execButton.removeClass("is-loading");
            }
        }
    </script>
</head>
<body>
<% include ../partials/dashboard-header %>

<section class="section is-white">
    <div class="container">
        <div class="columns">
            <div id="menu" class="column is-one-quarter">
                <% include ../partials/maintainer-menu %>
            </div>
            <div class="column">
                <div class="container is-fluid">
                <h1 class="title">
                    Evaluate
                </h1>
                <article class="message is-primary">
                    <div class="message-body">
                        <div class="content">
                            On this page you can <strong>evaluate</strong> any JavaScript code as if it was run using the <code>eval</code> command.
                        </div>
                    </div>
                </article>
                <form id="form" onsubmit="return false;">
                     <div class="field">
                         <div class="control">
                             <textarea id="codeArea" class="textarea is-primary" rows="5" style="resize: none;" placeholder="Javascript Code to Execute"></textarea>
                         </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-grouped">
                                <div class="control is-expanded">
                                    <a id="execButton" class="button is-primary is-fullwidth" onclick="evalCode(); return false;">
                                        <span class="icon">
                                            <i class="fa fa-bolt"></i>
                                        </span>
                                        <span>Execute</span>
                                    </a>
                                </div>
                                <div class="control">
                                    <div class="select is-primary">
                                        <select id="targetSelect">
                                            <option value="select">Select Shard...</option>
                                            <option value="master">Master</option>
                                            <% for (let i = 0; i < configData.shardTotal; i++) { %>
                                            <option value="<%= i %>"><%= `Shard ${i}` %></option>
                                            <% } %>
                                            <option value="all">All Shards</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="box">
                    <h5 class="subtitle is-5">
                        Session History
                    </h5>
                    <div id="evalResults">

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/scroll-top-button %>
</body>
</html>
