<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<% if (!pageData.utd && !pageData.disabled) { %>
	<link rel="stylesheet" href="/static/css/codemirror.css">
	<link rel="stylesheet" href="/static/css/codemirror-monokai.css">
	<script src="/static/js/codemirror.min.js"></script>
	<script src="/static/js/socket.io-1.4.5.min.js"></script>
	<script src="/static/js/update.js"></script>
	<% } %>
</head>
<body>
	<% include ../partials/dashboard-header %>
	<div id="config-modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-content">
			<div class="modal-container">
				<div class="modal-content">
					<textarea id="modal-code-area"></textarea>
				</div>
			</div>
		</div>
		<button onClick="closeCodeModal" class="modal-close"></button>
	</div>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
          			<h1 class="title">
						GAB Version
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								In this section, you can <strong>update</strong> <%= serverData.name %> to the latest GAwesomeBot patches available.
							</div>
						</div>
					</article>
					<h4 class="subtitle is-4">
						Version Manager
					</h4>
					<div class="box is-paddingless generic-feature">
						<div class="generic-feature-box-group">
							<div class="generic-feature-box version-box">
								<div class="generic-feature-box-description">
									<h4 class="subtitle is-4"><%= pageData.latestVersion.config.name %></h4>
									<span class="help"><%= pageData.latestVersion.config.description %></span>
								</div>
								<div class="generic-feature-box-addon">
									<div class="button is-danger is-outlined">Reinstall</div>
								</div>
							</div>
							<div class="version-update-indicator">
								<span class="icon is-medium">
									<i class="fa fa-arrow-left fa-2x"></i>
								</span>
							</div>
							<div class="generic-feature-box version-box">
								<div class="generic-feature-box-description">
									<h4 class="subtitle is-4">
										<span class="icon">
											<i class="fa fa-cloud-download"></i>
										</span>
										v5.0-ex
									</h4>
									<span class="help">Various hotfixes and command patches</span>
									<progress class="progress is-appended is-primary is-small" max="100">15%</progress>
								</div>
								<div class="generic-feature-box-addon">
									<div class="button is-primary is-outlined" onclick="GAwesomeUtil.dashboard.downloadVersion(this);">Download</div>
								</div>
							</div>
						</div>
						<div id="version-installer" class="generic-feature-addon" style="display: none;">
							<h4 class="title is-4">Installation Logs</h4>
							<article id="update-warning" class="message is-warning">
								<div class="message-header">
									Do not close this window!
								</div>
								<div class="message-body">
									<div class="content">
										While GAB is updating, do not close this window! Doing so may lead to your instance becoming corrupted.
									</div>
								</div>
							</article>
							<article id="finish" class="message installer-log is-info" style="display: none;">
								<div class="message-body">
									<div id="finish-content" class="content">
										Finishing up installation...
									</div>
								</div>
							</article>
							<article id="configs" class="message installer-log is-info" style="display: none;">
								<div class="message-body">
									<div id="config-content" class="content">
										Attempting to merge configuration files...
									</div>
								</div>
							</article>
							<article id="files" class="message installer-log is-info" style="display: none;">
								<div class="message-body">
									<div id="file-content" class="content">
										Installing files...
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
