<!DOCTYPE html>
<html lang="en">
<head>
	<title>BigMessage - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						BigMessage
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								BigMessage is for <strong>really important announcements</strong>. This message is sent to every single server the bot is on.<br> Use it only if it's absolutely necessary.
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="field">
							<div class="control">
								<textarea name="message" class="textarea is-primary" maxlength="2000" placeholder="Message to send, in markdown"></textarea>
								<span class="help">This message will be sent to <strong>all <%= pageData.serverCount %> server<%= pageData.serverCount === 1 ? "" : "s" %></strong>, so make sure it's important!</span>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
