<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logs - <%= serverData.name %> Maintainer Console</title>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/dashboard-header %>
<% include ../partials/dashboard-socket-updates %>

<section class="section is-white">
    <div class="container">
        <div class="columns">
            <div id="menu" class="column is-one-quarter">
                <% include ../partials/maintainer-menu %>
            </div>
            <div class="column">
                <h1 class="title">
                    Logs
                </h1>
                <article class="message is-primary">
                    <div class="message-body">
                        <div class="content">
                            These logs are streamed directly from GAB's log files, detailing all events that your bot encounters. Verbosity is based on the <code>consoleLevel</code> value in config.js.
                        </div>
                    </div>
                </article>
                <div id="console">

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    GAwesomeData.dashboard.logs = [<%- pageData.logs %>][0];
	GAwesomeData.dashboard.terminal = new TerminalMin();
    GAwesomeData.dashboard.terminal.setHeight("300px");
    GAwesomeData.dashboard.terminal.blinkingCursor(false);
	$("#console").append(GAwesomeData.dashboard.terminal.html);
	$(".Terminal").css("overflow-y", "scroll");
	GAwesomeData.dashboard.logs.forEach(log => {
		let line = `[${log.timestamp}] [${log.level}] ${log.message}`;
        GAwesomeData.dashboard.terminal.print(line);
	});
</script>
<% include ../partials/footer %>
<% include ../partials/scroll-top-button %>
</body>
</html>
