<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paperwork - GAwesomeBot</title>

    <link rel="shortcut icon" type="image/png" href="/static/img/icon.png">
    <meta name="theme-color" content="#009688">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <section id="header" class="hero is-dark is-fullheight is-bold">
        <div class="hero-head">
            <a class="nav-item is-brand title is-5 is-active" href="/" style="font-family: Montserrat;">
                &nbsp;
                GAwesomeBot
            </a>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">
                    <strong>Important</strong> paperwork.
                </h1>
                <br>
                <br>
                <h2 class="subtitle is-2">
                    Privacy Policy
                </h2>
                <div class="notification is-dark is-bold">
                    <p class="control">
                        <span class="icon">
                            <i class="fa fa-globe"></i>
                        </span>
                        Tracking information
                        <br>
                        Our service, "gawesomebot.com", stores bits of information about you in your browsed called "cookies". These cookies are used to identify and authenticate you. Our domain proxy and CDN, CloudFlare, is a third party that installs cookies in your browser to make sure your sessions can be matched with your browser, even when your browser shares an IP with multiple browsers.
                    </p>
                    <br>
                    <p class="control">
                        <span class="icon">
                            <i class="fa fa-user"></i>
                        </span>
                        Information storage
                        <br>
                        Our servers store a limited amount of information about you, all other information is stored in cookies and third parties such as Google.<br>
                        We store information about your discord account that we access through the oauth process. When you login, you accept to hand us this information. This information includes the guilds your account has joined, the permissions your account has on those guilds, and your account's username.
                        The above information is <b>never</b> disclosed to third parties.
                    </p>
                    <br>
                    <p class="control">
                        <span class="icon">
                            <i class="fa fa-google"></i>
                        </span>
                        Third parties
                        <br>
                        Third parties such as Google may use cookies on our website to serve you personalized ads, based on your previous traffic behavior. Additionally, your traffic to our website may be used for advertisement cookies as well. However, this information is not disclosed to us. You can opt-out of personalized advertisements and cookie tracking by Google by going to <a href="https://google.com/settings/ads">this link</a>. For more information on personalized ads by Google and Google Analytics, please visit their respective websites.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
