<script>
	GAwesomeData.dashboard.svrid = "<%= serverData.isMaintainer ? 'maintainer' : serverData.id %>";
</script>

<div id="update-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="modal-container">
			<div class="modal-content">
				<div class="box">
					<p class="title is-4">The settings in this section have been changed elsewhere.</p>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a class="button is-primary" onclick="Turbolinks.visit('');">
									<span class="icon">
										<i class="fa fa-refresh"></i>
									</span>
									<span>Reload page</span>
								</a>
							</div>
							<div class="level-item">
								<a class="button modal-button is-warning close-update-modal">
									<span class="icon">
										<i class="fa fa-arrow-right"></i>
									</span>
									<span>Continue without reloading</span>
								</a>
							</div>
							<div class="level-item">
								<a class="button modal-button is-danger close-update-modal" onclick="localStorage.setItem('dashboardUpdates', 'none');">
									<span class="icon">
										<i class="fa fa-times"></i>
									</span>
									<span>Do not warn again</span>
								</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close"></button>
</div>