<footer>
    <div class="container">
        <br><br>
        <div class="content has-text-centered">
            <p>
                <strong>GAwesomeBot</strong> by Gilbert, based off AB by BitQuote ♥. Made with <a href="https://nodejs.org/en/">Node.js</a> and <a href="https://abal.moe/Eris/index.html">Eris</a>. Site made with <a href="http://bulma.io/">Bulma</a> and <a href="https://jquery.com/">jQuery</a>. Artwork by <a href="http://nanodrivee.github.io/">Nano</a> and <a href="http://fontawesome.io/">Font Awesome</a>. Source licensed under <a href="https://github.com/GilbertGobbels/GAwesomeBot/blob/development/LICENSE">GPL v2</a>.
            </p>
            <p>
                <a class="icon" href="https://discord.gg/gDtzaS2" style="padding-top: 3px;">
                    <i class="fa icon-discord"></i>
                </a>
                <a class="icon" href="https://github.com/GilbertGobbels/GAwesomeBot">
                    <i class="fa fa-github"></i>
                </a>
                <a class="icon" href="http://status.gilbertgobbels.xyz:8080">
                    <i class="fa fa-check"></i>
                </a>
            </p>
        </div>
        <br>
    </div>
</footer>
