<footer>
    <div class="container">
        <br><br>
        <div class="content has-text-centered">
            <p>
                <strong>AwesomeBot</strong> by BitQuote. Made with <a href="https://nodejs.org/en/">Node.js</a> and <a href="https://abal.moe/Eris/index.html">Eris</a>. Site made with <a href="http://bulma.io/">Bulma</a> and <a href="https://jquery.com/">jQuery</a>. Artwork by <a href="http://nanodrivee.github.io/">Nano</a> and <a href="http://fontawesome.io/">Font Awesome</a>. Source code under the <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">GPL v2</a>.
            </p>
            <p>
                <a class="icon" href="http://discord.awesomebot.xyz" style="padding-top: 3px;">
                    <i class="fa icon-discord"></i>
                </a>
                <a class="icon" href="http://github.awesomebot.xyz">
                    <i class="fa fa-github"></i>
                </a>
                <a class="icon" href="http://twitter.awesomebot.xyz">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="icon" href="http://status.awesomebot.xyz">
                    <i class="fa fa-check"></i>
                </a>
            </p>
        </div>
        <br>
    </div>
</footer>
