<div id="form-buttons" style="display:none;background-color:whitesmoke;position: fixed;padding: 20px;left: 50%;transform: translate(-50%, 0%);bottom: 0px;z-index: 100;width: 100%;">
    <div class="container">
        <% var formButtonsUnsaved = true; %>
        <% include form-buttons %>
    </div>
</div>
