<header>
    <nav class="nav">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item is-brand title is-5 is-active" href="/" style="font-family: Montserrat;">
                    <img src="/static/img/icon.png" style="border-radius: 100%;">
                    &nbsp;
                    GAwesomeBot
                </a>
            </div>

            <span id="nav-toggle" class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div id="nav-menu" class="nav-right nav-menu">
                <a class="nav-item is-active" href="http://status.gilbertgobbels.xyz:8080" title="Status">
                  <span class="icon is-small">
                    <i class="fa fa-check"></i>
                  </span>
                    &nbsp;
                    <span>Status</span>
                </a>
                <a id="nav-" class="nav-item is-active" href="/">
                    <span class="icon is-small">
                        <i class="fa fa-home"></i>
                    </span>
                    &nbsp;
                    <span>Home</span>
                </a>
                <a id="nav-activity" class="nav-item is-active" href="/activity">
                    <span class="icon is-small">
                        <i class="fa fa-comments"></i>
                    </span>
                    &nbsp;
                    <span>Activity</span>
                </a>
                <a id="nav-extensions" class="nav-item is-active" href="/extensions">
                    <span class="icon is-small">
                        <i class="fa fa-bolt"></i>
                    </span>
                    &nbsp;
                    <span>Extensions</span>
                </a>
                <a id="nav-wiki" class="nav-item is-active" href="/wiki">
                    <span class="icon is-small">
                        <i class="fa fa-book"></i>
                    </span>
                    &nbsp;
                    <span>Wiki</span>
                </a>
                <a id="nav-blog" class="nav-item is-active" href="/blog">
                    <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                    </span>
                    &nbsp;
                    <span>Blog</span>
                </a>
                <a id="nav-donate" class="nav-item is-active modal-button" href="/donate">
                    <span class="icon is-small">
                        <i class="fa fa-gift"></i>
                    </span>
                    &nbsp;
                    <span>Donate</span>
                </a>
                <script>
                    if(localStorage.getItem("donate")=="hide") {
                        $("#nav-donate").toggle();
                    }
                </script>

                <% if(authUser) { %>
                <a id="nav-dashboard" class="nav-item is-active" href="/dashboard" title="Go to dashboard">
                    <img class="image is-16x16" src="<%= authUser.avatar %>" style="border-radius: 100%;" alt="<%= authUser.id %>">
                    &nbsp;
                    <span><%= authUser.username %></span>
                </a>
                <% } else { %>
                <p class="nav-item control has-addons">
                    <a class="button is-white is-outlined" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                        <span>Add</span>
                    </a>
                    <a class="button is-white is-outlined" href="/login" style="margin-left: 0px;">
                            <span class="icon is-small">
                                <i class="fa fa-sign-in"></i>
                            </span>
                        <span>Login</span>
                    </a>
                </p>
                <% } %>
            </div>
            <script>
                var currentPage = window.location.pathname.split("/")[1];
                var currentNavItem = $("#nav-" + currentPage);
                if(currentNavItem) {
                    currentNavItem.addClass("is-tab");
                }
            </script>
        </div>
    </nav>
</header>