<aside class="menu">
	<ul class="menu-list">
		<li>
            <% if(currentPage=="/dashboard/maintainer") { %>
			<a class="is-active" href="#">Overview</a>
            <% } else { %>
			<a href="/dashboard/maintainer?svrid=maintainer">Overview</a>
            <% } %>
		</li>
	</ul>
	<p class="menu-label">
		<span class="icon is-small">
            <i class="fa fa-server"></i>
        </span>
		Servers
	</p>
	<ul class="menu-list">
		<li>
            <% if(currentPage=="/dashboard/servers/server-list") { %>
			<a class="is-active" href="#">Server List</a>
            <% } else { %>
			<a href="/dashboard/servers/server-list?svrid=maintainer">Server List</a>
            <% } %>
            <% if(currentPage=="/dashboard/servers/big-message") { %>
			<a class="is-active" href="#">BigMessage</a>
            <% } else { %>
			<a href="/dashboard/servers/big-message?svrid=maintainer">BigMessage</a>
            <% } %>
		</li>
	</ul>
	<% if (serverData.accessAdmin) { %>
	<p class="menu-label">
        <span class="icon is-small">
            <i class="fa fa-cogs"></i>
        </span>
		Global Options
	</p>
	<ul class="menu-list">
		<li>
            <% if(currentPage=="/dashboard/global-options/blocklist") { %>
			<a class="is-active" href="#">Blocklist</a>
            <% } else { %>
			<a href="/dashboard/global-options/blocklist?svrid=maintainer">Blocklist</a>
            <% } %>
            <% if(currentPage=="/dashboard/global-options/bot-user") { %>
			<a class="is-active" href="#">Bot User</a>
            <% } else { %>
			<a href="/dashboard/global-options/bot-user?svrid=maintainer">Bot User</a>
            <% } %>
            <% if(currentPage=="/dashboard/global-options/homepage") { %>
			<a class="is-active" href="#">Homepage</a>
            <% } else { %>
			<a href="/dashboard/global-options/homepage?svrid=maintainer">Homepage</a>
            <% } %>
            <% if(currentPage=="/dashboard/global-options/wiki-contributors") { %>
			<a class="is-active" href="#">Wiki Contributors</a>
            <% } else { %>
			<a href="/dashboard/global-options/wiki-contributors?svrid=maintainer">Wiki Contributors</a>
            <% } %>
		</li>
	</ul>
	<% } if (serverData.accessManagement) { %>
	<p class="menu-label">
        <span class="icon is-small">
            <i class="fa fa-wrench"></i>
        </span>
		Management
	</p>
	<ul class="menu-list">
		<li>
            <% if(currentPage=="/dashboard/management/maintainers") { %>
			<a class="is-active" href="#">Maintainers</a>
            <% } else { %>
			<a href="/dashboard/management/maintainers?svrid=maintainer">Maintainers</a>
            <% } %>
            <% if(currentPage=="/dashboard/management/shards") { %>
			<a class="is-active" href="#">Shards</a>
			<% } else { %>
			<a href="/dashboard/management/shards?svrid=maintainer">Shards</a>
            <% } %>
            <% if(currentPage=="/dashboard/management/version") { %>
			<a class="is-active" href="#">GAB Version</a>
            <% } else { %>
			<a href="/dashboard/management/version?svrid=maintainer">GAB Version</a>
            <% } %>
            <% if(currentPage=="/dashboard/management/eval") { %>
			<a class="is-active" href="#">Evaluate</a>
            <% } else if (serverData.accessEval) { %>
			<a href="/dashboard/management/eval?svrid=maintainer">Evaluate</a>
            <% } %>
            <% if(currentPage=="/dashboard/management/logs") { %>
			<a class="is-active" href="#">Logs</a>
            <% } else { %>
			<a href="/dashboard/management/logs?svrid=maintainer">Logs</a>
            <% } %>
		</li>
	</ul>
	<% } %>
</aside>
