<aside class="menu">
		<p class="menu-label">
		Bot Options
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/maintainer") { %>
				<a class="is-active" href="#">Overview</a>
			<% } else { %>
				<a href="/dashboard/maintainer?svrid=maintainer">Overview</a>
			<% } %>
			<% if(currentPage=="/dashboard/updates") { %>
				<a class="is-active" href="#">Bot Version</a>
			<% } else { %>
				<a href="/dashboard/maintainer/version?svrid=maintainer">Bot Version</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		Servers
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/servers/server-list") { %>
				<a class="is-active" href="#">Server List</a>
			<% } else { %>
				<a href="/dashboard/servers/server-list?svrid=maintainer">Server List</a>
			<% } %>
			<% if(currentPage=="/dashboard/servers/big-message") { %>
				<a class="is-active" href="#">BigMessage</a>
			<% } else { %>
				<a href="/dashboard/servers/big-message?svrid=maintainer">BigMessage</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		Global Options
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/global-options/blocklist") { %>
				<a class="is-active" href="#">Blocklist</a>
			<% } else { %>
				<a href="/dashboard/global-options/blocklist?svrid=maintainer">Blocklist</a>
			<% } %>
			<% if(currentPage=="/dashboard/global-options/bot-user") { %>
				<a class="is-active" href="#">Bot User</a>
			<% } else { %>
				<a href="/dashboard/global-options/bot-user?svrid=maintainer">Bot User</a>
			<% } %>
			<% if(currentPage=="/dashboard/global-options/homepage") { %>
				<a class="is-active" href="#">Homepage</a>
			<% } else { %>
				<a href="/dashboard/global-options/homepage?svrid=maintainer">Homepage</a>
			<% } %>
			<% if(currentPage=="/dashboard/global-options/maintainers") { %>
				<a class="is-active" href="#">Maintainers</a>
			<% } else { %>
				<a href="/dashboard/global-options/maintainers?svrid=maintainer">Maintainers</a>
			<% } %>
			<% if(currentPage=="/dashboard/global-options/wiki-contributors") { %>
				<a class="is-active" href="#">Wiki Contributors</a>
			<% } else { %>
				<a href="/dashboard/global-options/wiki-contributors?svrid=maintainer">Wiki Contributors</a>
			<% } %>
		</li>
	</ul>
</aside>
