<% if (isSearchQuery) { %>
<div class="box hero is-small is-light">
	<div class="hero-body">
		<div class="has-text-centered">
			<h2 class="subtitle">
				<span>Wow, this place is empty</span>
				<span class="icon">
					<i class="fa fa-meh-o"></i>
				</span>
			</h2>
			<% if (activeSearchQuery) { %>
				<p class="hero-buttons">
					<a class="button is-medium" href="<%= resetUrl %>">
						<span class="icon">
							<i class="fa fa-chevron-left"></i>
						</span>
						<span>Reset search</span>
					</a>
				</p>
			<% } else { %>
				<h1 class="title">
					Nothing in <strong><%= mode %></strong>
				</h1>
			<% } %>
		</div>
	</div>
</div>
<% } else { %>
<article class="message no-elements-message<%= isHidden ? " is-hidden" : "" %>">
	<div class="message-header">
		<p>
			<span class="icon">
				<i class="fa fa-meh-o fa-lg"></i>
			</span>
			Nothing to see here
		</p>
	</div>
	<div class="message-body">
		<%- description %>
	</div>
</article>
<% } %>
