<div id="scroll-top-button-container">
	<a id="scroll-top-button" title="Scroll to top" class="icon is-primary" onclick="$('html, body').animate({scrollTop: 0}, 172);" style="float: right;margin-right: 25px;border-radius: 100%;width: 50px;height: 50px;background-color: white;box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)">
		<i class="fa fa-chevron-up fa-2x" style="padding-bottom: 5px;"></i>
	</a>
</div>