<% if(data.searchResults.length>0) { %>
	<div class="content">
		<% for(var i=0; i<data.searchResults.length; i++) { %>
			<div class="box">
				<a class="title is-3" href="/wiki/<%= data.searchResults[i].title %>">
					<%= data.searchResults[i].title %>
				</a>
				<br><br>
				<div class="content">
					<%- data.searchResults[i].matchText %>
				</div>
			</div>
		<% } %>
	</div>
<% } else { %>
	<% var resetUrl = "/wiki/Home"; %>
	<% var activeSearchQuery = data.activeSearchQuery; %>
	<% include ../partials/no-results %>
<% } %>
